body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:'Segoe UI';

background:
linear-gradient(
135deg,
#0f172a,
#312e81,
#581c87
);

}

.container{

width:430px;

padding:40px;

border-radius:25px;

background:
rgba(255,255,255,0.12);

backdrop-filter:
blur(18px);

text-align:center;

box-shadow:
0 0 40px
rgba(0,0,0,.4);

color:white;

}

h1{

font-size:38px;

color:#ffffff;

margin-bottom:30px;

}

input{

width:90%;

padding:16px;

border:none;

border-radius:15px;

font-size:18px;

outline:none;

}

.rules{

margin-top:20px;

text-align:left;

padding-left:40px;

line-height:2;

}

.rules p{

font-size:16px;

}

#result{

margin-top:25px;

font-size:36px;

font-weight:bold;

}

#suggestion{

margin-top:10px;

font-size:18px;

color:#e5e7eb;

}

.valid{

color:#22c55e;

}

.invalid{

color:#ff6b6b;

}